.pin-body {
  background-color: #c6b8b8;
  width: 250px;
  margin: 15px;
  padding: 10px;
  border-radius: 4px;
  color: #93384a;
}

.pin-image {
  width: 100%;
  background-color: white;
}

.pin-info-box {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.favorites {
  display: flex;
  align-items: center;
}

.likes {
  margin: 5px;
}

.delete-button {
  background-color: #93384a;
  color: white;
  border-radius: 3px;
  font-family: 'Noto Sans', sans-serif;
  width: 100px;
  height: 35px;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: red;
  }
}